footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
}
